.Rproj.user
.Rprofile
.Rhistory
.RData
.Ruserdata
.DS_Store
*.xml
packrat/lib*/
.tmp
src/*.o
src/*.dll
src/*.so
R/.Rapp.history
vignettes/sits_cache/*
vignettes/sits_files/*
tests/testthat/Rplots.pdf
vignettes/sits.R
README_cache/*
README_files/*
.DS_Store
inst/doc
doc
Meta
*.bkp
Makevars
Makevars.*
.sits/
*.gcda
*.gcno
_snaps/
tags
R/tags
*.swp
RtmpJFrMnd.log
.rcookies
