http_interactions:
- request:
    method: get
    uri: https://brazildatacube.dpi.inpe.br/stac/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"description":"Brazil Data Cube Catalog","id":"bdc","stac_version":"0.9.0","links":[{"href":"https://brazildatacube.dpi.inpe.br/stac/","rel":"self","type":"application/json","title":"Link to this document"},{"href":"https://brazildatacube.dpi.inpe.br/stac/docs","rel":"service-doc","type":"text/html","title":"API documentation in HTML"},{"href":"https://brazildatacube.dpi.inpe.br/stac/conformance","rel":"conformance","type":"application/json","title":"OGC API conformance classes implemented by the server"},{"href":"https://brazildatacube.dpi.inpe.br/stac/collections","rel":"data","type":"application/json","title":"Information about image collections"},{"href":"https://brazil[...]
- request:
    method: get
    uri: https://brazildatacube.dpi.inpe.br/stac/collections/CB4_64-1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"id":"CB4_64-1","stac_version":"0.9.0","stac_extensions":["commons","datacube","version"],"title":"CBERS-4 - AWFI - Cube Identity - v001","version":1,"deprecated":false,"description":"This datacube was generated with all available surface reflectance images from the CBERS4_AWFI_L4_SR collection. The data is provided with 64 meters of spatial resolution, reprojected and cropped to BDC_LG grid.","license":"","properties":{"eo:gsd":64.0,"eo:bands":[{"name":"BAND13","common_name":"blue","description":"","min":0.0,"max":10000.0,"nodata":-9999.0,"scale":0.0001,"center_wavelength":0.485,"full_width_half_max":0.07,"data_type":"int16"},{"name":"BAND14","common_name":"green","description":"","min":0.0,"max":10000.0,"nodata":-9999.0,"scale":0.0001,"center_wavelength":0.555,"full_width_half_max":0.07,"data_type":"int16"},{"name":"BAND15","common_name":"red","description":"","min":0.0,"max":10000.0,"nodata":-9999.0,"scale":0.0001,"center_wavelength":0.66,"full_width_half_max":0.06,"data_type":"int16"},{"name":"BAND16","common_name":"nir","description":"","min":0.0,"max":10000.0,"nodata":-9999.0,"scale":0.0001,"center_wavelength":0.83,"full_width_half_max":0.12,"data_type":"int16"},{"name":"CMASK","common_name":"quality","description":"","min":0.0,"max":4.0,"nodata":255.0,"scale":1.0,"center_wavelength":null,"full_width_half_max":null,"data_type":"uint8"},{"name":"EVI","common_name":"evi","description":"Enhanced Vegetation Index","min":-10000.0,"max":10000.0,"nodata":-9999.0,"scale":0.0001,"center_wavelength":null,"full_width_half_max":null,"data_type":"int16"},{"name":"NDVI","common_name":"ndvi","description":"","min":-10000.0,"max":10000.0,"nodata":-9999.0,"scale":0.0001,"center_wavelength":null,"full_width_half_max":null,"data_type":"int16"}],"instruments":["AWFI"],"platform":"CBERS-4"},"extent":{"spatial":{"bbox":[[-79.267539,-35.241045,-29.421667,9.14676]]},"temporal":{"interval":[["2016-01-01T00:00:00","2021-02-17T00:00:00"]]}},"bdc:bands_quicklook":["BAND15","BAND16","BAND13"],"bdc:metadata":{"sources":[{"name":"CBERS4_AWFI_L4_SR","stacUri":"http://cdsr.dpi.inpe.br/inpe-stac/collections/CBERS4_AWFI_L4_SR"}],"datacite":{"id":"CB4_64","dates":[{"date":"2020"}],"sizes":[],"state":"unfindable","types":{"ris":"DATA","bibtex":"misc","citeproc":"dataset","schemaOrg":"Dataset","resourceType":"Dataset","resourceTypeGeneral":"Dataset"},"agency":"INPE","titles":{"lang":"en","title":"CBERS-4 AWFI surface reflectance (Level-4) data cube product identity"},"formats":[],"version":"4.","creators":[{"@type":"ResearchGroup","familyName":"BDC Team"}],"language":"en","subjects":[{"lang":"en","subject":"CBERS"},{"lang":"en","subject":"AWFI"},{"lang":"en","subject":"Bottom Of Atmosphere Reflectance"},{"lang":"en","subject":"Surface Reflectance"},{"lang":"en","subject":"Data Cube"},{"lang":"en","subject":"Brazil"}],"rightsList":[{"rights":"Terms and Conditions for the use and distribution of CBERS Data","rightsUri":"http://mtc-m16c.sid.inpe.br/col/dpi.inpe.br/banon/2006/08.03.19.25/doc/appl_07_2004.pdf"}],"contributors":[{"name":"National Institute for Space Research (INPE)","nameType":"Organizational","contributorType":"HostingInstitution"},{"name":"Brazil Data Cube Team","contributorType":"ResearchGroup"}],"descriptions":[{"lang":"en","description":"The CB4_64 datacube provides CBERS-4 (AWFI) Surface Reflectance (SR) images mosaicked using Brazil Data Cube BDC_LG grid. According to the INPE's web site, CBERS is a cooperative program of China and Brazil containing 4 sensors (MUX, PAN, IRS and AWFI). The AWFI camera contains four spectral bands (blue, green, red and NIR), with a swath of 866km and a revisit period of 5 days. For more information on CBERS-4, please, see http://www.cbers.inpe.br/sobre/cbers3-4.php. This dataset was processed and made available by the Brazil Data Cube project, a component of the Environmental Monitoring of Brazilian Biomes project, funded by the Amazon Fund through the financial collaboration of the Brazilian Development Bank (BNDES) and the Foundation for Science, Technology and Space Applications (FUNCATE) no. 17.2.0536.1.","descriptionType":"Abstract"}],"geoLocations":[],"schemaVersion":"http://datacite.org/schema/kernel-4","fundingReferences":[{"funderName":"Brazilian Development Bank (BNDES)"}],"relatedIdentifiers":[{"title":"Earth Observation Data Cubes for Brazil: Requirements, Methodology and Products","relationType":"IsDescribedBy","relatedIdentifier":"10.3390/rs12244033","relatedIdentifierType":"DOI"},{"title":"Using Remote Sensing Images and Cloud Services on AWS to Improve Land Use and Cover Monitoring","relationType":"IsCitedBy","relatedIdentifier":"10.1109/LAGIRS48042.2020.9165649","relatedIdentifierType":"DOI"}]},"processors":[{"uri":"https://github.com/brazil-data-cube/cube-builder","name":"Cube Builder","version":"0.4.0"}]},"bdc:grs":"BDC_LG","bdc:tiles":["019022","019021","021028","021027","021020","019023","021029","020028","020023","017023","020021","022025","018022","020029","022024","023022","020027","023021","021024","022026","018020","021021","023026","022023","020025","018021","020019","022027","020022","019019","019024","021023","023024","018023","021025","020024","022021","024022","020020","021022","021026","020026","024023","023025","019020","017022","022022","018024","023023"],"bdc:composite_function":"Identity","bdc:type":"cube","cube:dimensions":{"x":{"type":"spatial","axis":"x","extent":[-79.267539,-29.421667],"reference_system":"+proj=aea +lat_0=-12 +lon_0=-54 +lat_1=-2 +lat_2=-22 +x_0=5000000 +y_0=10000000 +ellps=GRS80 +units=m +no_defs "},"y":{"type":"spatial","axis":"y","extent":[-35.241045,9.14676],"reference_system":"+proj=aea +lat_0=-12 +lon_0=-54 +lat_1=-2 +lat_2=-22 +x_0=5000000 +y_0=10000000 +ellps=GRS80 +units=m +no_defs "},"temporal":{"type":"temporal","extent":["2016-01-01T00:00:00","2021-02-17T00:00:00"],"values":["2016-01-01","2016-01-02","2016-01-03","2016-01-04","2016-01-05","2016-01-06","2016-01-07","2016-01-08","2016-01-09","2016-01-10","2016-01-11","2016-01-12","2016-01-13","2016-01-14","2016-01-15","2016-01-16","2016-01-17","2016-01-18","2016-01-19","2016-01-20","2016-01-21","2016-01-22","2016-01-23","2016-01-24","2016-01-25","2016-01-26","2016-01-27","2016-01-28","2016-01-29","2016-01-30","2016-01-31","2016-02-01","2016-02-02","2016-02-03","2016-02-04","2016-02-05","2016-02-06","2016-02-07","2016[...]
[...]
- request:
    method: post
    uri: https://brazildatacube.dpi.inpe.br/stac/search
    body:
      encoding: ''
      string: '{"collections":["CB4_64-1"],"limit":"1"}'
    headers:
      Content-Type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"type":"FeatureCollection","links":[{"href":"https://brazildatacube.dpi.inpe.br/stac/search","rel":"next","body":{"collections":["CB4_64-1"],"limit":"1","page":2},"method":"POST","merge":true}],"context":{"matched":50591,"returned":1},"features":[{"type":"Feature","id":"CB4_64_v001_020025_2021-02-17","collection":"CB4_64-1","stac_version":"0.9.0","stac_extensions":["checksum","commons","eo"],"geometry":{"type":"Polygon","coordinates":[[[-54.357722,-18.979506],[-54.352424,-15.054605],[-60.691097,-14.979183],[-60.791651,-18.902528],[-54.357722,-18.979506]]]},"bbox":[-60.791651,-18.979506,-54.352424,-14.979183],"properties":{"bdc:tiles":["020025"],"datetime":"2021-02-17T00:00:00","start_datetime":"2021-02-17T00:00:00","end_datetime":"2021-02-17T00:00:00","created":"2021-03-07T22:06:34","updated":"2021-03-07T22:06:34","eo:gsd":64.0,"eo:bands":[{"name":"BAND13","common_name":"blue","description":"","min":0.0,"max":10000.0,"nodata":-9999.0,"scale":0.0001,"center_wavelength":0.485,"full_width_half_max":0.07,"data_type":"int16"},{"name":"BAND14","common_name":"green","description":"","min":0.0,"max":10000.0,"nodata":-9999.0,"scale":0.0001,"center_wavelength":0.555,"full_width_half_max":0.07,"data_type":"int16"},{"name":"BAND15","common_name":"red","description":"","min":0.0,"max":10000.0,"nodata":-9999.0,"scale":0.0001,"center_wavelength":0.66,"full_width_half_max":0.06,"data_type":"int16"},{"name":"BAND16","common_name":"nir","description":"","min":0.0,"max":10000.0,"nodata":-9999.0,"scale":0.0001,"center_wavelength":0.83,"full_width_half_max":0.12,"data_type":"int16"},{"name":"CMASK","common_name":"quality","description":"","min":0.0,"max":4.0,"nodata":255.0,"scale":1.0,"center_wavelength":null,"full_width_half_max":null,"data_type":"uint8"},{"name":"EVI","common_name":"evi","description":"Enhanced Vegetation Index","min":-10000.0,"max":10000.0,"nodata":-9999.0,"scale":0.0001,"center_wavelength":null,"full_width_half_max":null,"data_type":"int16"},{"name":"NDVI","common_name":"ndvi","description":"","min":-10000.0,"max":10000.0,"nodata":-9999.0,"scale":0.0001,"center_wavelength":null,"full_width_half_max":null,"data_type":"int16"}],"eo:cloud_cover":97.35,"instruments":["AWFI"],"platform":"CBERS-4"},"assets":{"EVI":{"href":"https://brazildatacube.dpi.inpe.br/data/d006/Warped/CB4_64/v001/020025/2021-02-17/CB4_64_v001_020025_2021-02-17_EVI.tif","type":"image/tiff; application=geotiff; profile=cloud-optimized","roles":["data"],"created":"2021-03-07T22:06:34","updated":"2021-03-07T22:06:34","bdc:size":1652361,"bdc:chunk_size":{"x":512,"y":512},"bdc:raster_size":{"x":10504,"y":6865},"checksum:multihash":"12208b1aad46fe39616cab2bf78c0d17b8b8a1378c2910fd84efcd4f4e6e48e32a45","eo:bands":[5]},"NDVI":{"href":"https://brazildatacube.dpi.inpe.br/data/d006/Warped/CB4_64/v001/020025/2021-02-17/CB4_64_v001_020025_2021-02-17_NDVI.tif","type":"image/tiff; application=geotiff; profile=cloud-optimized","roles":["data"],"created":"2021-03-07T22:06:34","updated":"2021-03-07T22:06:34","bdc:size":2289679,"bdc:chunk_size":{"x":512,"y":512},"bdc:raster_size":{"x":10504,"y":6865},"checksum:multihash":"12209f07c05e9e6cf08578bd0b57c99f597282bf54d4d1595ec83075acd9af418ebe","eo:bands":[6]},"CMASK":{"href":"https://brazildatacube.dpi.inpe.br/data/d006/Warped/CB4_64/v001/020025/2021-02-17/CB4_64_v001_020025_2021-02-17_CMASK.tif","type":"image/tiff; application=geotiff; profile=cloud-optimized","roles":["data"],"created":"2021-03-07T22:06:34","updated":"2021-03-07T22:06:34","bdc:size":649042,"bdc:chunk_size":{"x":512,"y":512},"bdc:raster_size":{"x":10504,"y":6865},"checksum:multihash":"12201b508067e30fdde4a43ee0a074492a94e6f46732b205acc011b6a70d471b4176","eo:bands":[4]},"BAND13":{"href":"https://brazildatacube.dpi.inpe.br/data/d006/Warped/CB4_64/v001/020025/2021-02-17/CB4_64_v001_020025_2021-02-17_BAND13.tif","type":"image/tiff; application=geotiff; profile=cloud-optimized","roles":["data"],"created":"2021-03-07T22:06:34","updated":"2021-03-07T22:06:34","bdc:size":1690308,"bdc:chunk_size":{"x":512,"y":512},"bdc:raster_size":{"x":10504,"y":6865},"checksum:multihash":"12205b361d463df4b4e5472bce968830a173e68ad9bdc8d3af555aeca6647f11847c","eo:bands":[0]},"BAND14":{"href":"https://brazildatacube.dpi.inpe.br/data/d006/Warped/CB4_64/v001/020025/2021-02-17/CB4_64_v001_020025_2021-02-17_BAND14.tif","type":"image/tiff; application=geotiff; profile=cloud-optimized","roles":["data"],"created":"2021-03-07T22:06:34","updated":"2021-03-07T22:06:34","bdc:size":2043537,"bdc:chunk_size":{"x":512,"y":512},"bdc:raster_size":{"x":10504,"y":6865},"checksum:multihash":"1220348e29b00de8637ed5ebc75a67ae0144d762f30569d2fec3b80d13eba47464e7","eo:bands":[1]},"BAND15":{"href":"https://brazildatacube.dpi.inpe.br/data/d006/Warped/CB4_64/v001/020025/2021-02-17/CB4_64_v001_020025_2021-02-17_BAND15.tif","type":"image/tiff; application=geotiff; profile=cloud-optimized","roles":["data"],"created":"2021-03-07T22:06:34","updated":"2021-03-07T22:06:34","bdc:size":2454529,"bdc:chunk_size":{"x":512,"y":512},"bdc:raster_size":{"x":10504,"y":6865},"checksum:multihash":"1220488ebc6a36b50cb4b8e5755ae8eb760704f8f32c24c8215c6ba91c29e5e621dc","eo:bands":[2]},"BAND16":{"href":"https://brazildatacube.dpi.inpe.br/data/d006/Warped/CB4_64/v001/020025/2021-02-17/CB4_64_v001_020025_2021-02-17_BAND16.tif","type":"image/tiff; application=geotiff; profile=cloud-optimized","roles":["data"],"created":"2021-03-07T22:06:34","updated":"2021-03-07T22:06:34","bdc:size":2909710,"bdc:chunk_size":{"x":512,"y":512},"bdc:raster_size":{"x":10504,"y":6865},"checksum:multihash":"12205453a5f372a8455148f33eca53079e0c1af37be3a01da48cde3ec2d1969f6174","eo:bands":[3]},"thumbnail":{"href":"https://brazildatacube.dpi.inpe.br/data/d006/Warped/CB4_64/v001/020025/2021-02-17/CB4_64_v001_020025_2021-02-17.png","type":"image/png","roles":["thumbnail"],"created":"2021-03-07T22:06:31","updated":"2021-03-07T22:06:31","bdc:size":18155,"checksum:multihash":"1220e701720957bac1b7ccd9f00f55be39aae28134bc9234dacfdb376156d56832ab"}},"links":[{"href":"https://brazildatacube.dpi.inpe.br/stac/collections/CB4_64-1/items/CB4_64_v001_020025_2021-02-17","rel":"self"},{"href":"https://brazildatacube.dpi.inpe.br/stac/collections/CB4_64-1","rel":"parent"},{"href":"https://brazildatacube.dpi.inpe.br/stac/collections/CB4_64-1","rel":"collection"},{"href":"https://brazildatacube.dpi.inpe.br/stac/","rel":"root"}]}]}
  recorded_at: 2021-08-19 20:53:04 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
- request:
    method: post
    uri: https://brazildatacube.dpi.inpe.br/stac/search
    body:
      encoding: ''
      string: '{"collections":["CB4_64-1"],"datetime":"2016-01-01/2016-02-01","limit":"1000","query":{"bdc:tile":{"in":["019022"]}}}'
    headers:
      Content-Type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"type":"FeatureCollection","links":[],"context":{"matched":19,"returned":19},"features":[{"type":"Feature","id":"CB4_64_v001_019022_2016-01-30","collection":"CB4_64-1","stac_version":"0.9.0"[...]
[...]
