http_interactions:
- request:
    method: get
    uri: https://brazildatacube.dpi.inpe.br/stac/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"description":"Brazil Data Cube Catalog","id":"bdc","stac_version":"0.9.0","links":[{"href":"https://brazildatacube.dpi.inpe.br/stac/","rel":"self","type":"application/json","title":"Link to this document"},{"href":"https://brazildatacube.dpi.inpe.br/stac/docs","rel":"service-doc","type":"text/html","title":"API documentation in HTML"},{"href":"https://brazildatacube.dpi.inpe.br/stac/conformance","rel":"conformance","type":"application/json","title":"OGC API conformance classes implemented by the server"},{"href":"https://brazildatacube.dpi.inpe.br/stac/collections","rel":"data","type":"application/json","title":"Information about image collections"},{"href":"https://brazil[...]
- request:
    method: get
    uri: https://brazildatacube.dpi.inpe.br/stac/collections/CB4_20_1M_STK-1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"id":"CB4_20_1M_STK-1","stac_version":"0.9.0","stac_extensions":["commons","datacube","version"],"title":"CBERS-4 - MUX - CMPAC - Cube Stack 1 month - v001","version":1,"deprecated":false,"description":"This datacube was generated with all available surface reflectance images from CB4_20 cube. The data is provided with 20 meters of spatial resolution, reprojected and cropped to BDC_MD grid, composed each 1 month using the best pixel (Stack) composite function.","license":"","properties":{"eo:gsd":20.0,"eo:bands":[{"name":"MASK","common_name":"quality","description":null,"min":0.0,"max":4.0,"nodata":255.0,"scale":1.0,"center_wavelength":null,"full_width_half_max":null,"data_type":"uint8"},{"name":"BAND5","common_name":"blue","description":"","min":0.0,"max":10000.0,"nodata":-9999.0,"scale":0.0001,"center_wavelength":0.485,"full_width_half_max":0.07,"data_type":"int16"},{"name":"BAND6","common_name":"green","description":"","min":0.0,"max":10000.0,"nodata":-9999.0,"scale":0.0001,"center_wavelength":0.555,"full_width_half_max":0.07,"data_type":"int16"},{"name":"BAND7","common_name":"red","description":"","min":0.0,"max":10000.0,"nodata":-9999.0,"scale":0.0001,"center_wavel[...]
[...]
- request:
    method: post
    uri: https://brazildatacube.dpi.inpe.br/stac/search
    body:
      encoding: ''
      string: '{"collections":["CB4_20_1M_STK-1"],"limit":"1"}'
    headers:
      Content-Type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"type":"FeatureCollection","links":[{"href":"https://brazildatacube.dpi.inpe.br/stac/search","rel":"next","body":{"collections":["CB4_20_1M_STK-1"],"limit":"1","page":2},"method":"POST","merge":true}],"context":{"matched":3743,"returned":1},"features":[{"type":"Feature","id":"CB4_20_1M_STK_v001_045048_2019-12-01_2019-12-31","collection":"CB4_20_1M_STK-1","stac_version":"0.9.0","stac_extensions":["checksum","commons","eo"],"geometry":{"type":"Polygon","coordinates":[[[-41.771983,-12.844694],[-41.861123,-10.890189],[-44.980301,-11.003365],[-44.914029,-12.958667],[-41.771983,-12.844694]]]},"bbox":[-44.980301,-12.958667,-41.771983,-10.890189],"properties":{"bdc:tiles":["045048"],"datetime":"2019-12-01T00:00:00","start_datetime":"2019-12-01T00:00:00","end_datetime":"2019-12-31T00:00:00","created":"2020-11-16T21:48:22","updated":"2020-12-11T02:08:13","eo:gsd":20.0,"eo:bands":[{"name":"MASK","common_name":"quality","description":null,"min":0.0,"max":4.0,"nodata":255.0,"scale":1.0,"center_wavelength":null,"full_width_half_max":null,"data_type":"uint8"},{"name":"BAND5","common_name":"blue","description":"","min":0.0,"max":10000.0,"nodata":-9999.0,"scale":0.0001,"center_wavelength":0.485,"full_width_half_max":0.07,"data_type":"int16"},{"name":"BAND6","common_name":"green","description":"","min":0.0,"max":10000.0,"nodata":-9[...]
[...]
- request:
    method: post
    uri: https://brazildatacube.dpi.inpe.br/stac/search
    body:
      encoding: ''
      string: '{"collections":["CB4_20_1M_STK-1"],"datetime":"2017-01-01/2017-02-01","limit":"1000","query":{"bdc:tile":{"in":["039046"]}}}'
    headers:
      Content-Type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"type":"FeatureCollection","links":[],"context":{"matched":2,"returned":2},"features":[{"type":"Feature","id":"CB4_20_1M_STK_v001_039046_2017-02-01_2017-02-28","collection":"CB4_20_1M_STK-1"[...]
[...]
