http_interactions:
- request:
    method: get
    uri: https://brazildatacube.dpi.inpe.br/stac/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"description":"Brazil Data Cube Catalog","id":"bdc","stac_version":"0.9.0","links":[{"href":"https://brazildatacube.dpi.inpe.br/stac/","rel":"self","type":"application/json","title":"Link to this document"},{"href":"https://brazildatacube.dpi.inpe.br/stac/docs","rel":"service-doc","type":"text/html","title":"API documentation in HTML"},{"href":"https://brazildatacube.dpi.inpe.br/stac/conformance","rel":"conformance","type":"application/json","title":"OGC API conformance classes implemented by the server"},{"href":"https://brazildatacube.dpi.inpe.br/stac/collections","rel":"data","type":"application/json","title":"Information about image collections"},{"href":"https://brazil[...]
- request:
    method: get
    uri: https://brazildatacube.dpi.inpe.br/stac/collections/CB4MUX_20-1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"id":"CB4MUX_20-1","stac_version":"0.9.0","stac_extensions":["commons","datacube","version"],"title":"CBERS-4 - MUX - Cube Identity - v001","version":1,"deprecated":false,"description":"CBERS-4 MUX","license":"","properties":{"eo:gsd":20.0,"eo:bands":[{"name":"BAND5","common_name":"blue","description":"","min":0.0,"max":10000.0,"nodata":-9999.0,"scale":0.0001,"center_wavelength":null,"full_width_half_max":null,"data_type":"int16"},{"name":"BAND6","common_name":"green","description":"","min":0.0,"max":10000.0,"nodata":-9999.0,"scale":0.0001,"center_wavelength":null,"full_width_half_max":null,"data_type":"int16"},{"name":"BAND7","common_name":"red","description":"","min":0.0,"max":10000.0,"nodata":-9999.0,"scale":0.0001,"center_wavelength":null,"full_width_half_max":null,"data_type":"int16"},{"name":"BAND8","common_name":"nir","description":"","min":0.0,"max":10000.0,"nodata":-9999.0,"scale":0.0001,"center_wavelength":null,"full_width_half_max":null,"data_type":"int16"},{"name":"CMASK","common_name":"quality","description":"","min":0.0,"max":4.0,"nodata":255.0,"scale":1.0,"center_wavelength":null,"full_width_half_max":null,"data_type":"uint8"},{"name":"NDVI","common_name":"ndvi","description":"","min":0.0,"max":10000.0,"nodata":-9999.0,"scale":0.0001,"center_wavelength":null,"full_width_half_max":null,"data_type":"int16"},{"name":"EVI","common_name":"evi","description":"","min":0.0,"max":10000.0,"nodata":-9999.0,"scale":0.0001,"center_wavelength":null,"full_width_half_max":null,"data_type":"int16"}],"instruments":["MUX"],"platform":"CBERS-4"},"extent":{"spatial":{"bbox":[[-76.167534,-35.245456,-32.524719,6.955133]]},"temporal":{"interval":[["2016-01-01T00:00:00","2020-07-31T00:00:00"]]}},"bdc:bands_quicklook":["BAND7","BAND8","BAND5"],"bdc:metadata":{},"bdc:grs":"BDC_MD","bdc:tiles":["042055","036047","039040","042042","038045","043044","038044","043051","043049","037045","042043","041045","041053","043042","042045","039043","044046","043055","040048","041041","035045","044049","043056","041042","045052","041043","042041","040042","045044","044051","041048","036043","043053","040047","047048","046048","046049","044050","044048","[...]
[...]
- request:
    method: post
    uri: https://brazildatacube.dpi.inpe.br/stac/search
    body:
      encoding: ''
      string: '{"collections":["CB4MUX_20-1"],"limit":"1"}'
    headers:
      Content-Type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"type":"FeatureCollection","links":[{"href":"https://brazildatacube.dpi.inpe.br/stac/search","rel":"next","body":{"collections":["CB4MUX_20-1"],"limit":"1","page":2},"method":"POST","merge":true}],"context":{"matched":25223,"returned":1},"features":[{"type":"Feature","id":"CB4MUX_20_v001_044048_2020-07-31","collection":"CB4MUX_20-1","stac_version":"0.9.0","stac_extensions":["checksum","commons","eo"],"geometry":{"type":"Polygon","coordinates":[[[-44.91404,-12.958668],[-44.980312,-11.003366],[-48.101735,-11.083167],[-48.058381,-13.039036],[-44.91404,-12.958668]]]},"bbox":[-48.101735,-13.039036,-44.91404,-11.003366],"properties":{"bdc:tiles":["044048"],"datetime":"2020-07-31T00:00:00","start_datetime":"2020-07-31T00:00:00","end_datetime":"2020-07-31T00:00:00","created":"2020-11-10T16:04:10","updated":"2020-11-10T16:04:10","eo:gsd":20.0,"eo:bands":[{"name":"BAND5","common_name":"blue","description":"","min":0.0,"max":10000.0,"nodata":-9999.0,"scale":0.0001,"center_wavelength":null,"full_width_half_max":null,"data_type":"int16"},{"name":"BAND6","common_name":"green","description":"","min":0.0,"max":10000.0,"nodata":-9999.0,"scale":0.0001,"center_wavelength":null,"full_width_half_max":null,"data_type":"int16"},{"name":"BAND7","common_name":"red","description":"","min":0.0,"max":10000.0,"nodata":-9999.0,"scale":0.0001,"center_wavelength":null,"full_width_half_max":null,"data_type":"int16"},{"name":"BAND8","common_name":"nir","description":"","min":0.0,"max":10000.0,"nodata":-9999.0,"scale":0.0001,"center_wavelength":null,"full_width_half_max":null,"data_type":"int16"},{"name":"CMASK","common_name":"quality","description":"","min":0.0,"max":4.0,"nodata":255.0,"scale":1.0,"center_wavelength":null,"full_width_half_max":null,"data_type":"uint8"},{"name":"NDVI","common_name":"ndvi","description":"","min":0.0,"max":10000.0,"nodata":-9999.0,"scale":0.0001,"center_wavelength":null,"full_width_half_max":null,"data_type":"int16"},{"name":"EVI","common_name":"evi","description":"","min":0.0,"max":10000.0,"nodata":-9999.0,"scale":0.0001,"center_wavelength":null,"full_width_half_max":null,"data_type":"int16"}],"eo:cloud_cover":97.4,"instruments":["MUX"],"platform":"CBERS-4"},"assets":{"EVI":{"href":"https://brazildatacube.dpi.inpe.br/Repository/Warped/CB4MUX_20/v001/044048/2020-07-31/CB4MUX_20_v001_044048_2020-07-31_EVI.tif","type":"image/tiff; application=geotiff; profile=cloud-optimized","roles":["data"],"created":"2020-11-10T16:04:10","updated":"2020-11-10T16:04:10","bdc:size":18881793,"raster_size":{"x":16806,"y":10986},"bdc:chunk_size":{"x":512,"y":512},"checksum:multihash":"12201f343a8a52b48e216200bc3f4df72e4d9423a6c769c3ac63f210491ed4a6cdc0","eo:bands":[6]},"NDVI":{"href":"https://brazildatacube.dpi.inpe.br/Repository/Warped/CB4MUX_20/v001/044048/2020-07-31/CB4MUX_20_v001_044048_2020-07-31_NDVI.tif","type":"image/tiff; application=geotiff; profile=cloud-optimized","roles":["data"],"created":"2020-11-10T16:04:10","updated":"2020-11-10T16:04:10","bdc:size":20434602,"raster_size":{"x":16806,"y":10986},"bdc:chunk_size":{"x":512,"y":512},"checksum:multihash":"122038d02f6b624838f57a44ca25e49fd8a92b54e6ca3eb690541401d3ea7dad1f89","eo:bands":[5]},"BAND5":{"href":"https://brazildatacube.dpi.inpe.br/Repository/Warped/CB4MUX_20/v001/044048/2020-07-31/CB4MUX_20_v001_044048_2020-07-31_BAND5.tif","type":"image/tiff; application=geotiff; profile=cloud-optimized","roles":["data"],"created":"2020-11-10T16:04:10","updated":"2020-11-10T16:04:10","bdc:size":16588050,"raster_size":{"x":16806,"y":10986},"bdc:chunk_size":{"x":512,"y":512},"checksum:multihash":"1220d8db9b7f6c79a6235bdd17960517f7977a60c071f89b3e24e69ab6bdcf701d64","eo:bands":[0]},"BAND6":{"href":"https://brazildatacube.dpi.inpe.br/Repository/Warped/CB4MUX_20/v001/044048/2020-07-31/CB4MUX_20_v001_044048_2020-07-31_BAND6.tif","type":"image/tiff; application=geotiff; profile=cloud-optimized","roles":["data"],"created":"2020-11-10T16:04:10","updated":"2020-11-10T16:04:10","bdc:size":17009948,"raster_size":{"x":16806,"y":10986},"bdc:chunk_size":{"x":512,"y":512},"checksum:multihash":"1220fc60b4b5cb938734b7ff3c3cd60c4658725e5686d8601ac89c9fc44e7ecd3987","eo:bands":[1]},"BAND7":{"href":"https://brazildatacube.dpi.inpe.br/Repository/Warped/CB4MUX_20/v001/044048/2020-07-31/CB4MUX_20_v001_044048_2020-07-31_BAND7.tif","type":"image/tiff; application=geotiff; profile=cloud-optimized","roles":["data"],"created":"2020-11-10T16:04:10","updated":"2020-11-10T16:04:10","bdc:size":17819148,"raster_size":{"x":16806,"y":10986},"bdc:chunk_size":{"x":512,"y":512},"checksum:multihash":"122042901eb1e4fa91f0b5bdeb6a7ea5447ed33ab16a6f0fb22b8d5d54faa6e9e7ed","eo:bands":[2]},"BAND8":{"href":"https://brazildatacube.dpi.inpe.br/Repository/Warped/CB4MUX_20/v001/044048/2020-07-31/CB4MUX_20_v001_044048_2020-07-31_BAND8.tif","type":"image/tiff; application=geotiff; profile=cloud-optimized","roles":["data"],"created":"2020-11-10T16:04:10","updated":"2020-11-10T16:04:10","bdc:size":18452740,"raster_size":{"x":16806,"y":10986},"bdc:chunk_size":{"x":512,"y":512},"checksum:multihash":"1220b33e0f47b0b719771232044d441eaf4cd577c97da67ebfa1adc81a8f72166d7b","eo:bands":[3]},"CMASK":{"href":"https://brazildatacube.dpi.inpe.br/Repository/Warped/CB4MUX_20/v001/044048/2020-07-31/CB4MUX_20_v001_044048_2020-07-31_CMASK.tif","type":"image/tiff; application=geotiff; profile=cloud-optimized","roles":["data"],"created":"2020-11-10T16:04:10","updated":"2020-11-10T16:04:10","bdc:size":1666531,"raster_size":{"x":16806,"y":10986},"bdc:chunk_size":{"x":512,"y":512},"checksum:multihash":"12201011f9299430e709bdc062fea37a95c866554572ac4182f1ada65c5bcc984074","eo:bands":[4]},"thumbnail":{"href":"https://brazildatacube.dpi.inpe.br/Repository/Warped/CB4MUX_20/v001/044048/2020-07-31/CB4MUX_20_v001_044048_2020-07-31.png","type":"image/png","roles":["thumbnail"],"created":"2020-11-10T16:04:07","updated":"2020-11-10T16:04:07","bdc:size":61843,"checksum:multihash":"12201ff7916f73e76d14ed265d3e0591ba1e4fd41b5eb6f4c3d4f86d0f798ff8af8e"}},"links":[{"href":"https://brazildatacube.dpi.inpe.br/stac/collections/CB4MUX_20-1/items/CB4MUX_20_v001_044048_2020-07-31","rel":"self"},{"href":"https://brazildatacube.dpi.inpe.br/stac/collections/CB4MUX_20-1","rel":"parent"},{"href":"https://brazildatacube.dpi.inpe.br/stac/collections/CB4MUX_20-1","rel":"collection"},{"href":"https://brazildatacube.dpi.inpe.br/stac/","rel":"root"}]}]}
  recorded_at: 2021-08-11 21:08:15 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
- request:
    method: post
    uri: https://brazildatacube.dpi.inpe.br/stac/search
    body:
      encoding: ''
      string: '{"collections":["CB4MUX_20-1"],"datetime":"2016-01-01/2016-02-01","limit":"1000","query":{"bdc:tile":{"in":["042055"]}}}'
    headers:
      Content-Type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"type":"FeatureCollection","links":[],"context":{"matched":4,"returned":4},"features":[{"type":"Feature","id":"CB4MUX_20_v001_042055_2016-01-21","collection":"CB4MUX_20-1","stac_version":"0.[...]
[...]
