http_interactions:
- request:
    method: get
    uri: https://brazildatacube.dpi.inpe.br/stac/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"description":"Brazil Data Cube Catalog","id":"bdc","stac_version":"0.9.0","links":[{"href":"https://brazildatacube.dpi.inpe.br/stac/","rel":"self","type":"application/json","title":"Link to this document"},{"href":"https://brazildatacube.dpi.inpe.br/stac/docs","rel":"service-doc","type":"text/html","title":"API documentation in HTML"},{"href":"https://brazildatacube.dpi.inpe.br/stac/conformance","rel":"conformance","type":"application/json","title":"OGC API conformance classes implemented by the server"},{"href":"https://brazildatacube.dpi.inpe.br/stac/collections","rel":"data","type":"application/json","title":"Information about image collections"},{"href":"https://brazil[...]
- request:
    method: get
    uri: https://brazildatacube.dpi.inpe.br/stac/collections/LC8_30_16D_STK-1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"id":"LC8_30_16D_STK-1","stac_version":"0.9.0","stac_extensions":["commons","datacube","version"],"title":"Landsat-8 - OLI - Cube Stack 16 days - v001","version":1,"deprecated":false,"description":"This datacube was generated with all available surface reflectance images from LC8_30-1 cube. The data is provided with 30 meters of spatial resolution, reprojected and cropped to BDC_MD grid, considering a temporal compositing function of 16 days using the best pixel approach (Stack).","license":"","properties":{"eo:gsd":30.0,"eo:bands":[{"name":"NDVI","common_name":"ndvi","description":"","min":-10000.0,"max":10000.0,"nodata":-9999.0,"scale":0.0001,"center_wavelength":null,"full_width_half_max":null,"data_type":"int16"},{"name":"band1","common_name":"coastal","description":"","min":0.0,"max":10000.0,"nodata":-9999.0,"scale":0.0001,"center_wavelength":0.443,"full_width_half_max":0.016,"data_type":"int16"},{"name":"band2","common_name":"blue","description":"","min":0.0,"max":10000.0,"nodata":-9999.0,"scale":0.0001,"center_wavelength":0.482,"full_width_half_max":0.06,"data_type":"int16"},{"name":"band3","common_name":"green","description":"","min":0.0,"max":10000.0,"nodata":-9999.0,"scale":0.0001,"center_[...]
[...]
- request:
    method: post
    uri: https://brazildatacube.dpi.inpe.br/stac/search
    body:
      encoding: ''
      string: '{"collections":["LC8_30_16D_STK-1"],"limit":"1"}'
    headers:
      Content-Type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"type":"FeatureCollection","links":[{"href":"https://brazildatacube.dpi.inpe.br/stac/search","rel":"next","body":{"collections":["LC8_30_16D_STK-1"],"limit":"1","page":2},"method":"POST","merge":true}],"context":{"matched":16642,"returned":1},"features":[{"type":"Feature","id":"LC8_30_16D_STK_v001_047044_2021-03-06_2021-03-21","collection":"LC8_30_16D_STK-1","stac_version":"0.9.0","stac_extensions":["checksum","commons","eo"],"geometry":{"type":"Polygon","coordinates":[[[-36.025035,-4.685565],[-36.152164,-2.71167],[-39.176863,-2.888662],[-39.071188,-4.86295],[-36.025035,-4.685565]]]},"bbox":[-39.176863,-4.86295,-36.025035,-2.71167],"properties":{"bdc:tiles":["047044"],"datetime":"2021-03-06T00:00:00","start_datetime":"2021-03-06T00:00:00","end_datetime":"2021-03-21T00:00:00","created":"2021-04-18T21:12:15","updated":"2021-04-18T21:12:15","eo:gsd":30.0,"eo:bands":[{"name":"NDVI","common_name":"ndvi","description":"","min":-10000.0,"max":10000.0,"nodata":-9999.0,"scale":0.0001,"center_wavelength":null,"full_width_half_max":null,"data_type":"int16"},{"name":"band1","common_name":"coastal","description":"","min":0.0,"max":10000.0,"nodata":-9999.0,"scale":0.0001,"center_wavelength":0.443,"full_width_half_max":0.016,"data_type":"int16"},{"name":"band2","common_name":"blue","description":"","min":0.0,"max":10000.0[...]
[...]
- request:
    method: post
    uri: https://brazildatacube.dpi.inpe.br/stac/search
    body:
      encoding: ''
      string: '{"collections":["LC8_30_16D_STK-1"],"datetime":"2016-08-12/2016-09-12","limit":"1000","query":{"bdc:tile":{"in":["042055"]}}}'
    headers:
      Content-Type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"type":"FeatureCollection","links":[],"context":{"matched":2,"returned":2},"features":[{"type":"Feature","id":"LC8_30_16D_STK_v001_042055_2016-08-28_2016-09-12","collection":"LC8_30_16D_STK-[...]
[...]
