http_interactions:
- request:
    method: get
    uri: https://brazildatacube.dpi.inpe.br/stac/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"description":"Brazil Data Cube Catalog","id":"bdc","stac_version":"0.9.0","links":[{"href":"https://brazildatacube.dpi.inpe.br/stac/","rel":"self","type":"application/json","title":"Link to this document"},{"href":"https://brazildatacube.dpi.inpe.br/stac/docs","rel":"service-doc","type":"text/html","title":"API documentation in HTML"},{"href":"https://brazildatacube.dpi.inpe.br/stac/conformance","rel":"conformance","type":"application/json","title":"OGC API conformance classes implemented by the server"},{"href":"https://brazildatacube.dpi.inpe.br/stac/collections","rel":"data","type":"application/json","title":"Information about image collections"},{"href":"https://brazil[...]
- request:
    method: get
    uri: https://brazildatacube.dpi.inpe.br/stac/collections/MYD13Q1-6
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"id":"MYD13Q1-6","stac_version":"0.9.0","stac_extensions":["commons","datacube","version"],"title":"AQUA - MODIS - MYD13Q1 - C6","version":6,"deprecated":false,"description":"The Aqua Moderate Resolution Imaging Spectroradiometer (MODIS) Vegetation Indices (MYD13Q1) Version 6 data are generated every 16 days at 250 meter (m) spatial resolution as a Level 3 product. The MYD13Q1 product provides two primary vegetation layers. The first is the Normalized Difference Vegetation Index (NDVI) which is referred to as the continuity index to the existing National Oceanic and Atmospheric Administration-Advanced Very High Resolution Radiometer (NOAA-AVHRR) derived NDVI. The second vegetation layer is the Enhanced Vegetation Index (EVI), which has improved sensitivity over high biomass regions. The algorithm chooses the best available pixel value from all the acquisitions from the 16 day period. The criteria used is low clouds, low view angle, and the highest NDVI/EVI value.","license":"","properties":{"eo:gsd":250.0,"eo:bands":[{"name":"blue_reflectance","common_name":"blue","description":"Surface Reflectance Band 3","min":0.0,"max":10000.0,"nodata":-1000.0,"scale":0.0001,"center_wavelength":0.469,"full_width_half_max":0.01,"data_type":"int16"},{"name":"blue","common_name":"blue","description":null,"min":0.0,"max":10000.0,"nodata":-1000.0,"scale":0.0001,"center_wavelength":null,"full_width_half_max":null,"data_type":"int16"},{"name":"evi","common_name":"evi","description":null,"min":-2000.0,"max":10000.0,"nodata":-3000.0,"scale":0.0001,"center_wavelength":null,"full_width_half_max":null,"data_type":"int16"},{"name":"ndvi","common_name":"ndvi","description":null,"min":-2000.0,"max":10000.0,"nodata":-3000.0,"scale":0.0001,"cente[...]
[...]
- request:
    method: post
    uri: https://brazildatacube.dpi.inpe.br/stac/search
    body:
      encoding: ''
      string: '{"collections":["MYD13Q1-6"],"limit":"1"}'
    headers:
      Content-Type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"type":"FeatureCollection","links":[{"href":"https://brazildatacube.dpi.inpe.br/stac/search","rel":"next","body":{"collections":["MYD13Q1-6"],"limit":"1","page":2},"method":"POST","merge":true}],"context":{"matched":7699,"returned":1},"features":[{"type":"Feature","id":"MYD13Q1.A2021185.h10v08.006.2021202204512","collection":"MYD13Q1-6","stac_version":"0.9.0","stac_extensions":["checksum","commons","eo"],"geometry":{"type":"Polygon","coordinates":[[[-70,0],[-71.079863,10],[-81.234129,10],[-80,0],[-70,0]]]},"bbox":[-81.234129,0.0,-70.0,10.0],"properties":{"bdc:tiles":["010008"],"datetime":"2021-07-04T00:00:00","start_datetime":"2021-07-04T00:00:00","end_datetime":"2021-07-04T00:00:00","created":"2021-07-24T05:45:18","updated":"2021-07-24T05:45:18","eo:gsd":250.0,"eo:bands":[{"name":"blue_reflectance","common_name":"blue","description":"Surface Reflectance Band 3","min":0.0,"max":10000.0,"nodata":-1000.0,"scale":0.0001,"center_wavelength":0.469,"full_width_half_max":0.01,"data_type":"int16"},{"name":"blue","common_name":"blue","description":null,"min":0.0,"max":10000.0,"nodata":-1000.0,"scale":0.0001,"center_wavelength":null,"full_width_half_max":null,"data_type":"int16"},{"name":"evi","common_name":"evi","description[...]
[...]
- request:
    method: post
    uri: https://brazildatacube.dpi.inpe.br/stac/search
    body:
      encoding: ''
      string: '{"collections":["MYD13Q1-6"],"datetime":"2002-07-04/2002-08-04","limit":"1000","query":{"bdc:tile":{"in":["011008"]}}}'
    headers:
      Content-Type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"type":"FeatureCollection","links":[],"context":{"matched":1,"returned":1},"features":[{"type":"Feature","id":"MYD13Q1.A2002201.h11v08.006.2015149070644","collection":"MYD13Q1-6","stac_versi[...]
[...]
