http_interactions:
- request:
    method: get
    uri: https://brazildatacube.dpi.inpe.br/stac/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"description":"Brazil Data Cube Catalog","id":"bdc","stac_version":"0.9.0","links":[{"href":"https://brazildatacube.dpi.inpe.br/stac/","rel":"self","type":"application/json","title":"Link to this document"},{"href":"https://brazildatacube.dpi.inpe.br/stac/docs","rel":"service-doc","type":"text/html","title":"API documentation in HTML"},{"href":"https://brazildatacube.dpi.inpe.br/stac/conformance","rel":"conformance","type":"application/json","title":"OGC API conformance classes implemented by the server"},{"href":"https://brazildatacube.dpi.inpe.br/stac/collections","rel":"data","type":"application/json","title":"Information about image collections"},{"href":"https://brazil[...]
- request:
    method: get
    uri: https://brazildatacube.dpi.inpe.br/stac/collections/S2_10-1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"id":"S2_10-1","stac_version":"0.9.0","stac_extensions":["commons","datacube","version"],"title":"Sentinel-2 - MSI - Cube Identity - v001","version":1,"deprecated":false,"description":"This datacube was generated with all available surface reflectance images from the S2_L2A_LASRC collection. The data is provided with 10 meters of spatial resolution, reprojected and cropped to BDC_SM grid.","license":"","properties":{"eo:gsd":10.0,"eo:bands":[{"name":"band1","common_name":"coastal","description":"","min":0.0,"max":10000.0,"nodata":-9999.0,"scale":0.0001,"center_wavelength":0.4427,"full_width_half_max":0.021,"data_type":"int16"},{"name":"band11","common_name":"swir16","description":"","min":0.0,"max":10000.0,"nodata":-9999.0,"scale":0.0001,"center_wavelength":1.6137,"full_width_half_max":0.091,"data_type":"int16"},{"name":"band12","common_name":"swir22","description":"","min":0.0,"max":10000.0,"nodata":-9999.0,"scale":0.0001,"center_wavelength":2.2024,"full_width_half_max":0.175,"data_type":"int16"},{"name":"band2","common_name":"blue","description":"","min":0.0,"max":10000.0,"nodata":-9999.0,"scale":0.0001,"ce[...]
[...]
- request:
    method: post
    uri: https://brazildatacube.dpi.inpe.br/stac/search
    body:
      encoding: ''
      string: '{"collections":["S2_10-1"],"limit":"1"}'
    headers:
      Content-Type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"type":"FeatureCollection","links":[{"href":"https://brazildatacube.dpi.inpe.br/stac/search","rel":"next","body":{"collections":["S2_10-1"],"limit":"1","page":2},"method":"POST","merge":true}],"context":{"matched":18407,"returned":1},"features":[{"type":"Feature","id":"S2_10_v001_089096_2019-12-31","collection":"S2_10-1","stac_version":"0.9.0","stac_extensions":["checksum","commons","eo"],"geometry":{"type":"Polygon","coordinates":[[[-44.947448,-11.981301],[-44.980463,-11.003561],[-46.540954,-11.047635],[-46.513645,-12.025524],[-44.947448,-11.981301]]]},"bbox":[-46.540954,-12.025524,-44.947448,-11.003561],"properties":{"bdc:tiles":["089096"],"datetime":"2019-12-31T00:00:00","start_datetime":"2019-12-31T00:00:00","end_datetime":"2019-12-31T00:00:00","created":"2020-09-09T12:53:57","updated":"2020-09-09T12:53:57","eo:gsd":10.0,"eo:bands":[{"name":"band1","common_name":"coastal","description":"","min":0.0,"max":10000.0,"nodata":-9999.0,"scale":0.0001,"center_wavelength":0.4427,"full_width_half_max":0.021,"data_type":"int16"},{"name":"band11","common_name":"swir16","description":"","min":0.0,"max":10000.0,"nodata":-9999.0,"scale":0.0001,"center_wavelength":1.6137,"full_width_half_max":0.091,"data_type":"int16"},{"name":"band12","common_name":"swir22","description":"","min":0.0,"max":1[...]
[...]
- request:
    method: post
    uri: https://brazildatacube.dpi.inpe.br/stac/search
    body:
      encoding: ''
      string: '{"collections":["S2_10-1"],"datetime":"2017-01-02/2017-02-02","limit":"1000","query":{"bdc:tile":{"in":["086101"]}}}'
    headers:
      Content-Type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"type":"FeatureCollection","links":[],"context":{"matched":4,"returned":4},"features":[{"type":"Feature","id":"S2_10_v001_086101_2017-01-31","collection":"S2_10-1","stac_version":"0.9.0","st[...]
