http_interactions:
- request:
    method: get
    uri: https://brazildatacube.dpi.inpe.br/stac/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"description":"Brazil Data Cube Catalog","id":"bdc","stac_version":"0.9.0","links":[{"href":"https://brazildatacube.dpi.inpe.br/stac/","rel":"self","type":"application/json","title":"Link to this document"},{"href":"https://brazildatacube.dpi.inpe.br/stac/docs","rel":"service-doc","type":"text/html","title":"API documentation in HTML"},{"href":"https://brazildatacube.dpi.inpe.br/stac/conformance","rel":"conformance","type":"application/json","title":"OGC API conformance classes implemented by the server"},{"href":"https://brazildatacube.dpi.inpe.br/stac/collections","rel":"data","type":"application/json","title":"Information about image collections"},{"href":"https://brazil[...]
- request:
    method: get
    uri: https://brazildatacube.dpi.inpe.br/stac/collections/S2_10_16D_STK-1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"id":"S2_10_16D_STK-1","stac_version":"0.9.0","stac_extensions":["commons","datacube","version"],"title":"Sentinel-2 - MSI - Cube Stack 16 days - v001","version":1,"deprecated":false,"description":"This datacube was generated with all available surface reflectance images from S2_10 cube. The data is provided with 10 meters of spatial resolution, reprojected and cropped to BDC_SM grid, considering a temporal compositing function of 16 days using the best pixel approach (Stack).","license":"","properties":{"eo:gsd":10.0,"eo:bands":[{"name":"EVI","common_name":"evi","description":"Enhanced Vegetation Index","min":-10000.0,"max":10000.0,"nodata":-9999.0,"scale":0.0001,"center_wavelength":null,"full_width_half_max":null,"data_type":"int16"},{"name":"NDVI","common_name":"ndvi","description":"","min":-10000.0,"max":10000.0,"nodata":-9999.0,"scale":0.0001,"center_wavelength":null,"full_width_half_max":null,"data_type":"int16"},{"name":"TOTALOB","common_name":"TotalOb","description":"Total Observation Count","min":1.0,"max":255.0,"nodata":0.0,"scale":1.0,"center_wavelength":null,"full_width_half_max":null,"data_type":"uint8"},{"name":"band4","common_name":"red","description":"","min":0.0,"max":10000.0,"nodata":-9999.0,"scale":[...]
[...]
- request:
    method: post
    uri: https://brazildatacube.dpi.inpe.br/stac/search
    body:
      encoding: ''
      string: '{"collections":["S2_10_16D_STK-1"],"limit":"1"}'
    headers:
      Content-Type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"type":"FeatureCollection","links":[{"href":"https://brazildatacube.dpi.inpe.br/stac/search","rel":"next","body":{"collections":["S2_10_16D_STK-1"],"limit":"1","page":2},"method":"POST","merge":true}],"context":{"matched":3924,"returned":1},"features":[{"type":"Feature","id":"S2_10_16D_STK_v001_083099_2019-12-19_2019-12-31","collection":"S2_10_16D_STK-1","stac_version":"0.9.0","stac_extensions":["checksum","commons","eo"],"geometry":{"type":"Polygon","coordinates":[[[-54.353599,-15.056193],[-54.352294,-14.077401],[-55.931404,-14.071291],[-55.938557,-15.050057],[-54.353599,-15.056193]]]},"bbox":[-55.938557,-15.056193,-54.352294,-14.071291],"properties":{"bdc:tiles":["083099"],"datetime":"2019-12-19T00:00:00","start_datetime":"2019-12-19T00:00:00","end_datetime":"2019-12-31T00:00:00","created":"2020-09-09T12:53:57","updated":"2020-09-09T12:53:57","eo:gsd":10.0,"eo:bands":[{"name":"EVI","common_name":"evi","description":"Enhanced Vegetation Index","min":-10000.0,"max":10000.0,"nodata":-9999.0,"scale":0.0001,"center_wavelength":null,"full_width_half_max":null,"data_type":"int16"},{"name":"NDVI","common_name":"ndvi","description":"","min":-10000.0,"max":10000.0,"nodata":-9999.0,"scale":0.0001,"center_wavelength":null,"full_width_half_max":null,"data_type":"int16"},{"name":"TOTALOB","common_name":"TotalOb","description"[...]
[...]
- request:
    method: post
    uri: https://brazildatacube.dpi.inpe.br/stac/search
    body:
      encoding: ''
      string: '{"collections":["S2_10_16D_STK-1"],"datetime":"2017-01-01/2017-02-01","limit":"1000","query":{"bdc:tile":{"in":["086101"]}}}'
    headers:
      Content-Type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"type":"FeatureCollection","links":[],"context":{"matched":2,"returned":2},"features":[{"type":"Feature","id":"S2_10_16D_STK_v001_086101_2017-01-17_2017-02-01","collection":"S2_10_16D_STK-1"[...]
[...]
