http_interactions:
- request:
    method: get
    uri: https://brazildatacube.dpi.inpe.br/wtss/list_coverages
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"coverages":["MOD13Q1-6","MYD13Q1-6","S2_10_16D_STK-1","S2-SEN2COR_10_16D_STK-1","S2_10-1","CB4MUX_20-1","CB4MUX_20_1M_STK-1","LC8_30-1","LC8_30_16D_STK-1","CB4_20_1M_STK-1","LC8_30_6M_MEDSTK-1","CB4_64_16D_STK-1","CB4_64-1","LANDSAT-MOZ_30_1M_STK-1"]}
  recorded_at: 2021-08-12 19:03:25 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://brazildatacube.dpi.inpe.br/wtss/describe_coverage?name=MOD13Q1-6
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"name":"MOD13Q1-6","description":"The Terra Moderate Resolution Imaging Spectroradiometer (MODIS) Vegetation Indices (MOD13Q1) Version 6 data are generated every 16 days at 250 meter (m) spatial resolution as a Level 3 product. The MOD13Q1 product provides two primary vegetation layers. The first is the Normalized Difference Vegetation Index (NDVI) which is referred to as the continuity index to the existing National Oceanic and Atmospheric Administration-Advanced Very High Resolution Radiometer (NOAA-AVHRR) derived NDVI. The second vegetation layer is the Enhanced Vegetation Index (EVI), which has improved sensitivity over high biomass regions. The algorithm chooses the best available pixel value from all the acquisitions from the 16 day period. The criteria used is low clouds, low view angle, and the highest NDVI/EVI value.","detail":"some url","dimensions":{"x":{"name":"col_id","min_idx":1,"max_idx":4928},"y":{"name":"row_id","min_idx":1,"max_idx":3663},"t":{"name":"time_id","min_idx":1,"max_idx":492}},"spatial_extent":{"xmin":-81.234129,"ymin":-40.0,"xmax":-21.283555,"ymax":10.0},"spatial_resolution":{"x":250.0,"y":250.0},"crs":{"proj4":"+proj=sinu +lon_0=0 +x_0=0 +y_0=0 +a=6371007.181 +b=6371007.181 +units=m +no_defs ","wkt":"PROJCS[\"unknown\",GEOGCS[\"unknown\",DATUM[\"unknown\",SPHEROID[\"unknown\",6371007.181,0]],PRIMEM[\"Greenwich\",0,AUTHORITY[\"EPSG\",\"8901\"]],UNIT[\"degree\",0.0174532925199433,AUTHORITY[\"EPSG\",\"9122\"]]],PROJECTION[\"Sinusoidal\"],PARAMETER[\"longitude_of_center\",0],PARAMETER[\"false_easting\",0],PARAMETER[\"false_northing\",0],UNIT[\"metre\",1,AUTHORITY[\"EPSG\",\"9001\"]],AXIS[\"Easting\",EAST],AXIS[\"Northing\",NORTH]]"},"timeline":["2000-02-18","2000-03-05","2000-03-21","2000-04-06","2000-04-22","2000-05-08","2000-05-24","2000-06-09","2000-06-25","2000-07-11","2000-07-27","2000-08-12","2000-08-28","2000-09-13","2000-09-29","2000-10-15","2000-10-31","2000-11-16","2000-12-02","2000-12-18","2001-01-01","2001-01-17","2001-02-02","2001-02-18","2001-03-06","2001-03-22","2001-04-07","2001-04-23","2001-05-09","2001-05-25","2001-06-10","2001-06-26","2001-07-12","2001-07-28","2001-08-13","2001-08-29","2001-09-14","2001-09-30","2001[...]
[...]
- request:
    method: get
    uri: https://brazildatacube.dpi.inpe.br/wtss/time_series?coverage=MOD13Q1-6&attributes=NDVI%2CEVI%2Cblue_reflectance%2Cred_reflectance%2CNIR_reflectance%2CMIR_reflectance%2Cpixel_reliability&longitude=-55.0399&latitude=-15.1933&start_date=2015-09-14&end_date=2016-08-28&access_token=<BDC_ACCESS_KEY>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |
        {"query":{"coverage":"MOD13Q1-6","attributes":["NDVI","EVI","blue_reflectance","red_reflectance","NIR_reflectance","MIR_reflectance","pixel_reliability"],"longitude":-55.0399,"latitude":-15.1933,"start_date":"2015-09-14","end_date":"2016-08-28"},"result":{"attributes":[{"attribute":"blue_reflectance","values":[523.0,559.0,572.0,554.0,1792.0,497.0,275.0,2314.0,889.0,548.0,534.0,472.0,397.0,361.0,452.0,420.0,340.0,337.0,299.0,464.0,523.0,566.0,520.0]},{"attribute":"NDVI","values":[3206.0,3077.0,4404.0,3763.0,2441.0,4853.0,5967.0,1505.0,4965.0,5884.0,4512.0,5562.0,5114.0,5896.0,5310.0,5074.0,6152.0,4674.0,3733.0,3084.0,2758.0,2704.0,3046.0]},{"attribute":"EVI","values":[1918.0,1874.0,3100.0,2519.0,2090.0,3475.0,3629.0,1641.0,4422.0,4849.0,3207.0,3659.0,3297.0,3801.0,3568.0,3059.0,3794.0,2467.0,1805.0,16[...]
[...]
